body { 
  color: #FFFFFF;
  font: 13px Helvetica, Arial;
  background-image:url("./images/background/tatami01.jpg");
}

.bg-wablack {
  background-image:url("./images/background/Walnut01-p.jpg");
}

.bg-board {
  background-image:url("./images/board/japanese-chess-b03.jpg");
  background-size:100% 100%;
}

.bg-komadai {
  background-image:url("./images/board/japanese-chess-bg.jpg");
}
.glyphicon {
  color: #FFFFFF;
}

input[type="submit"] {
  border-color: #228822;
  background-image:url("./images/background/wood-pattern05-p.jpg");
}
input[type="button"] {
  border-color: #228822;
  background-image:url("./images/background/wood-pattern05-p.jpg");
}

button[type="button"] {
  border-color: #228822;
  background-image:url("./images/background/wood-pattern05-p.jpg");
}


input[type="submit"]:hover {
  background-image:url("./images/background/wood-pattern01-p.jpg");
}
input[type="button"]:hover{
  background-image:url("./images/background/wood-pattern01-p.jpg");
}
button[type="button"]:hover{
  color: #000000;
  background-image:url("./images/background/wood-pattern01-p.jpg");
}

.chat-messages-div { background-color: #000000; }
#chatMessageDiv-lobby { height : 200px; max-height: 200px; overflow-y: scroll; }
#messages-lobby { list-style-type: none; margin: 0; padding: 0; color : #99FF99;}
#messages-lobby li { padding: 3px 10px; }
#chatMessageDiv { height : 350px; max-height: 350px; overflow-y: scroll; }
#messages { list-style-type: none; margin: 0; padding: 0; color : #99FF99;}
#messages li { padding: 3px 10px; }

li.system-info { color : #FFFF99;}

#modal-overlay {
  z-index:1;
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
}
.modal-window {
  z-index:2;
  display:none;
  position:absolute;
  transform: translate(-50%, -50%);
  
  top: 50%;
  left: 50%;
  width:400px;
  height:150px;
  
  background-color: #000000;
  text-align: center;
  vertical-align: middle;
}

.modal-window-custom {
  z-index:2;
  display:none;
  position:absolute;
  transform: translate(-50%, -50%);
  
  top: 50%;
  left: 50%;
  width:400px;
  height:230px;
  
  background-color: #000000;
  text-align: center;
  vertical-align: middle;
}

.modal-contents {
  width:300px;
  position:absolute;  
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.modal-textbox {
  width: 300px; 
  color:#000000;
}

span.game-info-label {
  font-size: medium;
}

span.page-info-label {
  font-size: large;  
}


.navbar-nav li button {
 margin-top: 8px;
 margin-bottom: 8px;
}

.loading {
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

rt {
  font-size: xx-small;
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
  0% {-ms-transform: rotate(0deg);}
  100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
  0% {-o-transform: rotate(0deg);}
  100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}